.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    background-color: #F0F0F0;
    max-width: 80%;
    padding: 1rem 2rem;
    border-radius: 20px;
}